
{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Web Gallery For Education</h1>
    <p>CS459: Django and CS402: Special project.</p>
	<h2>Contact detail:</h2>
	<p>Phasit Phattrapornpisit and Khajornchai Soosawat</p>
	<p>email: phasit.phat@sci.tu.ac.com, Khajornchai.s@sci.tu.ac.com</p>
	<h2>วิธีการเล่น:</h2>
	<p>1. Profile : กรอกข้อมูลประวัติส่วนตัว</p>
	<p>2. My Gallery : เลือกรูปที่ชอบโดยทำการคลิ๊กที่รูปภายในระยะเวลา 10 วินาที</p>
	<p>3. ปล่อยให้เวลานับถอยหลังจนหมดเมื่อต้องการหยุดเล่น</p>

	<h1> Thank you </h1>
  </div>
</div>
{% endblock %}