{% extends "base.html" %}
{% block content %}
<center>
<h1>My Gallery</h1>
	<div class="row">
		<!-- <h1>{{messages}}</h1> -->
		<a href="{% url 'clear' %}" id="Countdown" > New Person </a>
	</div>
</center>

<div class="col-sm-1"></div>
	<center>
		<div class="col-sm-10">
					{% for i in image_list|slice:":10" %}
							<a href="{% url 'image' i.id %} ">
								<img src="{{i.image.url}}"  height="195" width="195">
							</a>
					{% endfor %}
		</div>
	</center>
<div class="col-sm-1"></div>

<script>
	var downloadButton = document.getElementById("Countdown");
	var counter = 20;
	var newElement = document.createElement("p");
	newElement.innerHTML = "Choose your favorite Picture in 20 seconds.";
	var id;
	downloadButton.parentNode.replaceChild(newElement, downloadButton);
	id = setInterval(function() {
		counter--;
		if(counter < 0) {
			newElement.parentNode.replaceChild(downloadButton, newElement);
			clearInterval(id);
		} else {
			newElement.innerHTML = "Choose your favorite Picture in " + counter.toString() + " seconds.";
		}
	}, 1000);
</script>
{% endblock %}